

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
}

.main-box{
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Conteneur principal home */
.home-container {
    background-color: #fff;
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 40px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -140px;
    z-index: 2;
}

/* Tuiles d'activités */
.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    list-style: none;
    padding: 0;
}

.activity-tile {
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    min-height: 180px;
    border-radius: 8px;
    padding: 25px;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease;
}

.activity-tile:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(106, 90, 205, 0.1);
}

.activity-name {
    color: #6A5ACD !important;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.activity-pathologies{
    margin-top: auto;
    font-size: 0.8em;
    color:#575656;
}

section {
    margin-bottom: 30px;
}

section h2 {
    color: #444;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #6A5ACD;
}



/* Profil utilisateur à droite */
.profile-summary {
    position: fixed;
    top: 300px;
    right: 10px;
    width: 250px;
    background: rgba(255, 255, 255, 0.95);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 10;
    color : #444;;
}

/* En-tête du profil */
.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

.profile-icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.pathologies h4{
    margin-bottom: 6px;
}

/* Liste des pathologies */
.pathology-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding-top: 4px;
}

.badge {
    background: #007bff;
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 13px;
}



/* ########################################## Carousel pour Conseils Santé & Actualités ########################################## */
.health-tips{
    width: 100%;
    margin: 0 auto 40px;
    z-index: -1;
}

.carousel {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    position: relative;
}


.item-eau{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/carroussel-eau.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-equilibre{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/carroussel-equilibre.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.item-etirement{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('img/carroussel-etirement.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    border: none;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: none;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}


/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        position: relative;
    }

    .home-container {
        margin-top: 40px;
        width: 95%;
        padding: 20px;
    }

    .activities-grid {
        grid-template-columns: 1fr;
    }

    .profile-summary{
        display: none;
    }
}

