<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}" lang="fr">
<head><link rel="stylesheet" th:href="@{/activities.css}"></head>
<body>
    <div class="right-content" layout:fragment="content" style="width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;">
        <div class="search-activity" >
            <h1>Look for new activities</h1>
            <input id="searchInput" type="text" placeholder="Search an activity">
            <br>
            <div class="activities-container" id="activityResultsContainer">
                <div th:replace="Activity-list :: ActivityList"></div>
            </div>
        </div>
        <div id="popupModal" class="modal">
            <div th:replace="Pop-upRating :: Popup"></div>
        </div>
        <script>
            //fonction permettant la recherche d'activitées quand on tape dans l'input
            $(document).ready(function() {
                $('#searchInput').on('input', function() {
                    const searchQuery = $(this).val();
                    //permet d'envoyer une requète ajax vers le SearchController
                    $.ajax({
                        url: '/search',
                        type: 'GET',
                        data: { query: searchQuery },
                        success: function(response) {
                            $('#activityResultsContainer').html(response);
                            attachEventHandlers();
                        },
                        error: function(xhr) {
                            console.error('Error:', xhr.statusText);
                        }
                    });
                });

                function attachEventHandlers() {
                    //Permet l'affichage de la description de chaques activitées
                    $('#activityResultsContainer').off('click', '.title').on('click', '.title', function() {
                        $(this).next('.description').toggleClass('hidden');
                        $(this).toggleClass('clicked');
                    });

                    //permet l'affichage de la popupRating quand on clique sur le bouton
                    $(".show-details").click(function() {
                        var activityId = $(this).data("id");

                        $.ajax({
                            url: '/activity',
                            type: 'GET',
                            data: { id: activityId },
                            success: function(response) {
                                $('#popupModal').html(response);
                                setTimeout(function() {
                                    $("#popupModal").show();
                                    $(".close").click(function() {
                                        $("#popupModal").hide();
                                        console.log("cliked")
                                    });
                                }, 100);
                            },
                            error: function(xhr) {
                                console.error('Erreur AJAX:', xhr.statusText);
                            }
                        });
                    });
                }

                attachEventHandlers();

                //ferme la popup quand on clique autre part
                $(window).click(function(event) {
                    if ($(event.target).is("#popupModal")) {
                        $("#popupModal").hide();
                    }
                });
            });
        </script>

    </div>
</body>
</html>