<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" th:href="@{/styleHomePage.css}">
</head>
<body>
        <main layout:fragment="content" class="home-container">

            <section>

                <h2>Bienvenue <span th:text="${username}"></span></h2>
                <p>Voici une séléction d'activitées adapté à vos pathologies .</p>
            </section>

            <ul class="activities-grid">
                <li class="activity-tile" th:each="activity : ${recommendedActivities}">
                    <span class="activity-name" th:text="${activity.name}"></span>
                    <span th:text="${activity.description}"></span>

                    <div class="activity-pathologies">
                        <p>
                        <span th:each="ap, iterStat : ${activity.pathologies}">
                            <span th:text="${ap.pathology.description}"></span><span th:if="${!iterStat.last}">, </span>
                        </span>
                        </p>
                    </div>
                </li>
            </ul>
        </main>
</body>
</html>
