<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Activity Manager</h1>
        <a href="/signup">
            <div>
                Sign up
            </div>
        </a>
    </header>
    <main>
        <div class="login-container">
            <h1>Login to your account</h1>
            <form th:action="@{/login}" method="post">
                <input type="text" id="username" name="username" placeholder="Username" autocomplete="off" required>
                <br>
                <input type="password" id="password" name="password" placeholder="password" required>
                <br>
                <button type="submit">Login</button>
            </form>
            <div>
                <p th:if="${param.error}" style="color: red;" th:text="'Invalid username or password'"></p>
                <p th:if="${param.signupSuccess}" style="color: green;" th:text="'Registration successful ! You may now connect.'"></p>
            </div>
        </div>
    </main>
</body>
</html>